.login-modal-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    z-index: 1000;
}
.login-modal{
    background-color: white;
    padding: 25px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}
.login-header{
    margin: 0 0 20px 0;
}
.login-form{
    display: flex;
    justify-content: center;
}
.login-username{
    padding: 10px;
    flex-grow: 1;
    max-width: 250px;
}
.login-button {
    padding: 10px;
    border: 2px solid blue;
    background-color: #1769ff;
    color: white;
    font-weight: bold;
}
.login-button:hover{
    cursor: pointer;
}